{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}WORKOUT{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="{% static 'muscle/styles.css' %}" rel="stylesheet">
        <link href="{% static 'muscle/play.css' %}" rel="stylesheet">
        <script src="https://use.fontawesome.com/a6632dd1a9.js"></script>
        {% block script %}
        {% endblock %}
        {{ user.username|json_script:"username" }}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">WORKOUT</a>
                    <div>
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a id="profile-button" class="nav-link" href="{% url 'profile' username=user.username %}"><strong>{{ user.username }}</strong></a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </nav>
        
        <div class="body">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>